<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.hypergryph.endfield" />
        <package android:name="com.gryphline.endfield.gp" />
    </queries>
    <application
        android:name=".ModuleApplication"
        android:description="@string/xposed_description"
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/module_network_security"
        android:hasCode="true"
        android:icon="@drawable/gilberta"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gilberta"
        android:supportsRtl="true">
        <provider
            android:name=".RuntimeJournalProvider"
            android:authorities="${applicationId}.journal"
            android:exported="true" />
        <provider
            android:name=".OverlaySettingsProvider"
            android:authorities="dev.betterendfield.android.overlay.settings"
            android:exported="true"
            android:grantUriPermissions="false" />
        <activity android:name=".BemInstallActivity" android:exported="false" android:theme="@style/AppTheme" />
        <activity android:name=".ThirdPartyModulesActivity" android:exported="false" android:theme="@style/AppTheme" />
        <activity android:name=".ThirdPartyModuleActivity" android:exported="false" android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
